<div class="container-fluid vh-100 d-flex align-items-center">
    <div class="row w-100">
      <!-- ด้านซ้าย: พื้นที่เปล่าหรือรูปภาพ -->
      <div class="col-md-7 d-none d-md-flex align-items-center justify-content-center">
        <div><h1 class="display-4">LOF4NB</h1></div>
        <div><h1 class="display-4">(Life Operations Front-End for New Business)</h1></div>
      </div>
  
      <!-- ด้านขวา: ฟอร์มล็อกอิน -->
      <div class="col-md-5 d-flex align-items-center justify-content-center">
        <div class="card p-4 shadow-lg" style="width: 350px;">
          <div class="card-body">
            <h4 class="text-center mb-4">Login</h4>
            <form (ngSubmit)="onSubmit()">
              <!-- Email -->
              <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="username" id="username" class="form-control" [(ngModel)]="username" required />
              </div>
  
              <!-- Password -->
              <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" id="password" class="form-control" [(ngModel)]="password" required />
              </div>
  
              <!-- Submit Button -->
              <button type="submit" class="btn btn-save w-100">
                Login
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  