<div>
  <label class="fw-bold fs-6">OSR App Support</label>
</div>
<hr />
{{ request() | json }}
<div class="container">
  <div class="card mt-5">
    <div class="card-body">
      <span class="card-label">เงื่อนไนการค้นหา</span>
      <div class="row mt-3">
        <div class="col floating-label">
          <label for="refNo">Ref No.</label>
          <input
            [ngModel]="request().refNo"
            (ngModelChange)="updateField('refNo', $event)"
            type="text"
            class="form-control"
            id="refNo"
            placeholder="ref No."
          />
        </div>
        <div class="col floating-label">
          <label for="transactionId">Transaction Id</label>
          <input
            [ngModel]="request().transactionId"
            (ngModelChange)="updateField('transactionId', $event)"
            type="text"
            class="form-control"
            id="transactionId"
            placeholder="transaction Id"
          />
        </div>
        <div class="col floating-label">
          <label for="createdDate">Created Date</label>
          <div class="input-group">
            <input
              [ngModel]="request().createdDate"
              (ngModelChange)="updateField('createdDate', $event)"
              class="form-control"
              name="dp"
              ngbDatepicker
              #d2="ngbDatepicker"
              placeholder="dd/mm/yyyy"
            />
            <button
              class="btn btn-outline-secondary bi bi-calendar3"
              (click)="d2.toggle()"
              type="button"
            ></button>
          </div>
        </div>
      </div>
      <div class="row mt-3 justify-content-center">
        <div class="col-6 d-flex justify-content-center gap-2">
          <button type="button" class="btn btn-secondary" (click)="clear()">
            Clear
          </button>
          <button type="button" class="btn btn-save">Search</button>
        </div>
      </div>
    </div>
  </div>

  <ng-template [ngIf]="request">
    <div class="row mt-5">
      <div class="col-sm-12">
        <table class="w-100 dt-table">
          <thead>
            <tr class="table-header">
              <th>No.</th>
              <th>Transaction ID</th>
              <th>Created Date</th>
              <th>Detail</th>
            </tr>
          </thead>
          <tbody *ngFor="let item of mockData; index as i">
            <tr>
              <td class="text-center">{{ i + 1 }}</td>
              <td class="text-center">{{ item.transactionId }}</td>
              <td class="text-center">{{ item.createdDate }}</td>
              <td class="log-button">
                <button
                  type="button"
                  class="btn btn-save"
                  [routerLink]="['/rules-detail']"
                >
                  Log
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </ng-template>

  <ng-template #elseBlock>
    <div class="row mt-5">
      <div class="col-sm-12">
        <table class="w-100 dt-table">
          <thead>
            <tr class="table-header">
              <th>No.</th>
              <th>Transaction ID</th>
              <th>Created Date</th>
              <th>Detail</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="data-not-found" colspan="15">Not Found Data</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </ng-template>
</div>
