<!--A : สถานะของเอกสาร-->
<div class="card mt-4">
    <div class="card-body">
        <span class="card-label">A : สถานะของเอกสาร</span>
        <div class="row">
            <div class="col-sm-12">
                <app-checkbox id="chk1" name="chk1" label="(1) ไม่ได้จัดส่งเอกสาร/กระดาษเปล่า/ชื่อผอป. ไม่ถูกต้อง" value="Y"></app-checkbox>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <app-checkbox id="chk2" name="chk2" label="(2) ลงนามในเอกสารไม่สมบูรณ์" value="Y"></app-checkbox>
            </div>
        </div>
    </div>
</div>
<!--B : หลักเกณฑ์การพิจารณาจากเอกสารของตัวแทน/นายหน้า-->
<div class="card mt-4">
    <div class="card-body">
        <span class="card-label">B : หลักเกณฑ์การพิจารณาจากเอกสารของตัวแทน/นายหน้า</span>
        <div class="row">
            <div class="col-sm-12">
                <app-checkbox id="chk1" name="chk1" label="ไม่ตอบคำถาม" value="Y"></app-checkbox>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <app-checkbox id="chk2" name="chk2" label="(1) มีอายุตั้งแต่ 60 ปีขึ้นไป" value="Y"></app-checkbox>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <app-checkbox id="chk2" name="chk2" label="(2) วุฒิการศึกษา ต่ำกว่าปริญญาตรี" value="Y"></app-checkbox>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <app-checkbox id="chk2" name="chk2" label="(3) ไม่มีประสบการณ์การลงทุน" value="Y"></app-checkbox>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <app-checkbox id="chk2" name="chk2" label="(4) ไม่มีประสบการณ์ในการใช้กรมธรรม์ประกันภัย" value="Y"></app-checkbox>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <app-checkbox id="chk2" name="chk2" label="(5) มีข้อจำกัดในการสื่อสาร หรือการตัดสินใจด้วยตัวเอง" value="Y"></app-checkbox>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <app-checkbox id="chk2" name="chk2" label="(6) ลูกค้าทั่วไป" value="Y"></app-checkbox>
            </div>
        </div>
    </div>
</div>
<!--C : ข้อมูลขัดแย้ง-->
<div class="card mt-4">
    <div class="card-body">
        <span class="card-label">C : ข้อมูลขัดแย้ง</span>
    </div>
</div>
<!--D : ลูกค้าทั่วไป -->
<div class="card mt-4">
    <div class="card-body">
        <span class="card-label">D : ลูกค้าทั่วไป</span>
    </div>
</div>