<div class="input-group">
    <input class="form-control lk-code" />
    <button class="btn btn-outline-secondary bi bi-search" (click)="open(content)"></button>
    <ng-select [items]="[{code:'147',name:'พ.ต.อ.(พิเศษ)หญิง(568)'}, {code:'157',name:'MADAM(157)'}]" id="planCode"
        bindLabel="name" bindValue="code" class="form-control">
    </ng-select>
</div>
<div class="d-flex align-items-center gap-2 d-flex flex-wrap mt-1" style="font-size: var(--secondary-font-size);">
    <div class="form-check">
        <input class="form-check-input" type="radio" id="rdoAllPlan" name="rdoAllPlan" value="A">
        <label class="form-check-label" for="rdoAllPlan">ทั้งหมด</label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" id="rdoAgentPlan" name="rdoAgentPlan" value="P">
        <label class="form-check-label" for="rdoAgentPlan">ตามช่องทางตัวแทน</label>
    </div>
</div>

<!-- Modal -->
<ng-template #content let-modal>
    <div class="modal-header" style="background-color: var(--primary-500-color);color: #fff;">
        <h6 class="modal-title">ค้นหาแบบประกัน</h6>
        <button type="button" class="btn-close fs-7" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div class="card mt-2">
            <div class="card-body">
                <span class="card-label">เงื่อนไนการค้นหา</span>
                <div class="row mt-3">
                    <div class="col-sm-3 floating-label">
                        <input type="text" id="lastName" class="form-control">
                        <label for="lastName">รหัส</label>
                    </div>
                    <div class="col-sm-3 floating-label">
                        <input type="text" id="lastName" class="form-control">
                        <label for="lastName">กลุ่มอาชีพ</label>
                    </div>
                    <div class="col-sm-3 floating-label">
                        <input type="text" id="lastName" class="form-control">
                        <label for="lastName">อาชีพใน AS400</label>
                    </div>
                    <div class="col-sm-3 floating-label">
                        <input type="text" id="lastName" class="form-control">
                        <label for="lastName">อาชีพ</label>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-sm-12 d-flex justify-content-end gap-2">
                        <button type="button" class="btn btn-save">ค้นหา</button>
                        <button type="button" class="btn btn-secondary">เคลียร์</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-sm-12">
                <table #table class="w-100 dt-table">
                    <thead>
                        <tr class="table-header">
                            <th>รหัส</th>
                            <th>อาชีพ</th>
                            <th>กลุ่มอาชีพ</th>
                            <th>อาชีพใน AS400</th>
                            <th>ชั้นอาชีพ</th>
                        </tr>
                    </thead>
                    <!-- <tbody>
                        <tr *ngFor="let item of data">
                            <td>{{item.code}}</td>
                            <td>{{item.desc}}</td>
                            <td>{{item.group}}</td>
                            <td>{{item.as400}}</td>
                            <td>{{item.level}}</td>
                        </tr>
                    </tbody> -->
                </table>
                <div class="mt-2">
                    <!-- <app-datatable #datatable (paging)="datatabletFilter($event)"></app-datatable> -->
                </div>
            </div>
        </div>

    </div>
</ng-template>